@{
    ViewBag.Title = "Profile";
}
    <div class="col-md-12 col-sm-12 col-xs-12 search_data" style="margin-top: 12px;">
        <div class="panel panel-default">				
			<div class="panel-body">
                <div class="row">                     
        <section class="panel">
            <div class="col-lg-3">
                <div class="profile-nav">
                <div class="user-heading round">
                <a href="#">
                    <img src="~/Images/user-1.png" alt="">
                </a>
                <h1>Jonathan Smith</h1>
            </div>
            </div>
            </div>
            <div class="col-lg-9">
                <div class="panel-body bio-graph-info">
                <h1>Personal Details</h1>
                <div class="row">
                    <div class="bio-row">
                        <p><span>First Name </span>: Jonathan</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Last Name </span>: Smith</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Country </span>: India</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Birthday</span>: 13 July 1983</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Occupation </span>: UI Designer</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Email </span>: jsmith@flatlab.com</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Mobile </span>: (12) 03 4567890</p>
                    </div>
                    <div class="bio-row">
                        <p><span>Phone </span>: 88 (02) 123456</p>
                    </div>
                </div>
            </div>
                
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="bio-chart">
                                <input class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" value="35" data-fgColor="#e06b7d" data-bgColor="#e8e8e8">
                            </div>
                            <div class="bio-desk">
                                <h4 class="red">Envato Website</h4>
                                <p>Started : 15 July</p>
                                <p>Deadline : 15 August</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="bio-chart">
                                <input class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" value="63" data-fgColor="#4CC5CD" data-bgColor="#e8e8e8">
                            </div>
                            <div class="bio-desk">
                                <h4 class="terques">ThemeForest CMS </h4>
                                <p>Started : 15 July</p>
                                <p>Deadline : 15 August</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="bio-chart">
                                <input class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" value="75" data-fgColor="#96be4b" data-bgColor="#e8e8e8">
                            </div>
                            <div class="bio-desk">
                                <h4 class="green">VectorLab Portfolio</h4>
                                <p>Started : 15 July</p>
                                <p>Deadline : 15 August</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="bio-chart">
                                <input class="knob" data-width="100" data-height="100" data-displayPrevious=true  data-thickness=".2" value="50" data-fgColor="#cba4db" data-bgColor="#e8e8e8">
                            </div>
                            <div class="bio-desk">
                                <h4 class="purple">Adobe Muse Template</h4>
                                <p>Started : 15 July</p>
                                <p>Deadline : 15 August</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </section>
        <section>
        </section>
</div>
            </div>
		</div>	
    </div>
