@model iCafe.Web.ViewModels.TagsVM
@{
    ViewBag.Title = "Tags";
}

<div class="col-lg-12" style="margin-top:15px;">
    <div class="row">
        <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="input-group primary">
                        <span class="input-group-addon">
                            <span class="arrow"></span>
                            <i class="fa fa-search"></i>
                        </span>
                        <input type="search" class="form-control search-page-input input-sm" aria-controls="itemsTable">
                    </div>
                    <br>
                </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
                    <nav class='pull-right'>
                        <ul class="pagination pull-right" style="margin: 0px;">
                            <li><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </nav>
                </div>
        <div class="col-md-12 col-sm-12 col-xs-12 search_data" style="margin-top: 12px;">
            <div class="panel panel-default">				
				<div class="panel-body">
					<div class="table-responsive">
                        <table id="example-editable" class="display table" style="width: 100%;">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Discount</th>
                                <th>CreatedOn</th>
                                <th>IsAvailable</th>
                            </tr>                            
                        </thead>
                            <tbody>
                                @foreach(var tag in Model.Tags){
                                    <tr>
                                    <td><a href="javascript:void(0);">@tag.Title</a></td>
                                    <td><a href="javascript:void(0);">@tag.Description</a></td>
                                    <td><a href="javascript:void(0);">@tag.Discount%</a></td>
                                    <td>@tag.CreatedOn.ToShortDateString()</td>
                                    @if(tag.IsAvailable)
                                    {
                                        <td><input type="checkbox" checked class="iswitch iswitch-primary"></td>
                                    }
                                    else
                                    {
                                        <td><input type="checkbox" class="iswitch iswitch-primary"></td>
                                    }
                                </tr>
                                }
                            </tbody>
                        <!--<tbody>
                            <tr>
                                <td><a href="javascript:void(0);">Veg</a></td>
                                <td><a href="javascript:void(0);">Vegetarain</a></td>
                                <td><a href="javascript:void(0);"></a></td>
                                <td><a href="javascript:void(0);"></a></td>
                                <td><a href="javascript:void(0);">2011/04/25</a></td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Garrett Winters</a></td>
                                <td><a href="javascript:void(0);">Accountant</a></td>
                                <td><a href="javascript:void(0);">Tokyo</a></td>
                                <td><a href="javascript:void(0);">63</a></td>
                                <td><a href="javascript:void(0);">2011/07/25</a></td>
                                <td><a href="javascript:void(0);">$170,750</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Ashton Cox</a></td>
                                <td><a href="javascript:void(0);">Junior Technical Author</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">66</a></td>
                                <td><a href="javascript:void(0);">2009/01/12</a></td>
                                <td><a href="javascript:void(0);">$86,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Cedric Kelly</a></td>
                                <td><a href="javascript:void(0);">Senior Javascript Developer</a></td>
                                <td><a href="javascript:void(0);">Edinburgh</a></td>
                                <td><a href="javascript:void(0);">22</a></td>
                                <td><a href="javascript:void(0);">2012/03/29</a></td>
                                <td><a href="javascript:void(0);">$433,060</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Airi Satou</a></td>
                                <td><a href="javascript:void(0);">Accountant</a></td>
                                <td><a href="javascript:void(0);">Tokyo</a></td>
                                <td><a href="javascript:void(0);">33</a></td>
                                <td><a href="javascript:void(0);">2008/11/28</a></td>
                                <td><a href="javascript:void(0);">$162,700</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Brielle Williamson</a></td>
                                <td><a href="javascript:void(0);">Integration Specialist</a></td>
                                <td><a href="javascript:void(0);">New York</a></td>
                                <td><a href="javascript:void(0);">61</a></td>
                                <td><a href="javascript:void(0);">2012/12/02</a></td>
                                <td><a href="javascript:void(0);">$372,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Herrod Chandler</a></td>
                                <td><a href="javascript:void(0);">Sales Assistant</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">59</a></td>
                                <td><a href="javascript:void(0);">2012/08/06</a></td>
                                <td><a href="javascript:void(0);">$137,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Rhona Davidson</a></td>
                                <td><a href="javascript:void(0);">Integration Specialist</a></td>
                                <td><a href="javascript:void(0);">Tokyo</a></td>
                                <td><a href="javascript:void(0);">55</a></td>
                                <td><a href="javascript:void(0);">2010/10/14</a></td>
                                <td><a href="javascript:void(0);">$327,900</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Colleen Hurst</a></td>
                                <td><a href="javascript:void(0);">Javascript Developer</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">39</a></td>
                                <td><a href="javascript:void(0);">2009/09/15</a></td>
                                <td><a href="javascript:void(0);">$205,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Sonya Frost</a></td>
                                <td><a href="javascript:void(0);">Software Engineer</a></td>
                                <td><a href="javascript:void(0);">Edinburgh</a></td>
                                <td><a href="javascript:void(0);">23</a></td>
                                <td><a href="javascript:void(0);">2008/12/13</a></td>
                                <td><a href="javascript:void(0);">$103,600</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Jena Gaines</a></td>
                                <td><a href="javascript:void(0);">Office Manager</a></td>
                                <td><a href="javascript:void(0);">London</a></td>
                                <td><a href="javascript:void(0);">30</a></td>
                                <td><a href="javascript:void(0);">2008/12/19</a></td>
                                <td><a href="javascript:void(0);">$90,560</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Quinn Flynn</a></td>
                                <td><a href="javascript:void(0);">Support Lead</a></td>
                                <td><a href="javascript:void(0);">Edinburgh</a></td>
                                <td><a href="javascript:void(0);">22</a></td>
                                <td><a href="javascript:void(0);">2013/03/03</a></td>
                                <td><a href="javascript:void(0);">$342,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Charde Marshall</a></td>
                                <td><a href="javascript:void(0);">Regional Director</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">36</a></td>
                                <td><a href="javascript:void(0);">2008/10/16</a></td>
                                <td><a href="javascript:void(0);">$470,600</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Haley Kennedy</a></td>
                                <td><a href="javascript:void(0);">Senior Marketing Designer</a></td>
                                <td><a href="javascript:void(0);">London</a></td>
                                <td><a href="javascript:void(0);">43</a></td>
                                <td><a href="javascript:void(0);">2012/12/18</a></td>
                                <td><a href="javascript:void(0);">$313,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Tatyana Fitzpatrick</a></td>
                                <td><a href="javascript:void(0);">Regional Director</a></td>
                                <td><a href="javascript:void(0);">London</a></td>
                                <td><a href="javascript:void(0);">19</a></td>
                                <td><a href="javascript:void(0);">2010/03/17</a></td>
                                <td><a href="javascript:void(0);">$385,750</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Michael Silva</a></td>
                                <td><a href="javascript:void(0);">Marketing Designer</a></td>
                                <td><a href="javascript:void(0);">London</a></td>
                                <td><a href="javascript:void(0);">66</a></td>
                                <td><a href="javascript:void(0);">2012/11/27</a></td>
                                <td><a href="javascript:void(0);">$198,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Paul Byrd</a></td>
                                <td><a href="javascript:void(0);">Chief Financial Officer (CFO)</a></td>
                                <td><a href="javascript:void(0);">New York</a></td>
                                <td><a href="javascript:void(0);">64</a></td>
                                <td><a href="javascript:void(0);">2010/06/09</a></td>
                                <td><a href="javascript:void(0);">$725,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Gloria Little</a></td>
                                <td><a href="javascript:void(0);">Systems Administrator</a></td>
                                <td><a href="javascript:void(0);">New York</a></td>
                                <td><a href="javascript:void(0);">59</a></td>
                                <td><a href="javascript:void(0);">2009/04/10</a></td>
                                <td><a href="javascript:void(0);">$237,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Bradley Greer</a></td>
                                <td><a href="javascript:void(0);">Software Engineer</a></td>
                                <td><a href="javascript:void(0);">London</a></td>
                                <td><a href="javascript:void(0);">41</a></td>
                                <td><a href="javascript:void(0);">2012/10/13</a></td>
                                <td><a href="javascript:void(0);">$132,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Dai Rios</a></td>
                                <td><a href="javascript:void(0);">Personnel Lead</a></td>
                                <td><a href="javascript:void(0);">Edinburgh</a></td>
                                <td><a href="javascript:void(0);">35</a></td>
                                <td><a href="javascript:void(0);">2012/09/26</a></td>
                                <td><a href="javascript:void(0);">$217,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Jenette Caldwell</a></td>
                                <td><a href="javascript:void(0);">Development Lead</a></td>
                                <td><a href="javascript:void(0);">New York</a></td>
                                <td><a href="javascript:void(0);">30</a></td>
                                <td><a href="javascript:void(0);">2011/09/03</a></td>
                                <td><a href="javascript:void(0);">$345,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Yuri Berry</a></td>
                                <td><a href="javascript:void(0);">Chief Marketing Officer (CMO)</a></td>
                                <td><a href="javascript:void(0);">New York</a></td>
                                <td><a href="javascript:void(0);">40</a></td>
                                <td><a href="javascript:void(0);">2009/06/25</a></td>
                                <td><a href="javascript:void(0);">$675,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Caesar Vance</a></td>
                                <td><a href="javascript:void(0);">Pre-Sales Support</a></td>
                                <td><a href="javascript:void(0);">New York</a></td>
                                <td><a href="javascript:void(0);">21</a></td>
                                <td><a href="javascript:void(0);">2011/12/12</a></td>
                                <td><a href="javascript:void(0);">$106,450</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Doris Wilder</a></td>
                                <td><a href="javascript:void(0);">Sales Assistant</a></td>
                                <td><a href="javascript:void(0);">Sidney</a></td>
                                <td><a href="javascript:void(0);">23</a></td>
                                <td><a href="javascript:void(0);">2010/09/20</a></td>
                                <td><a href="javascript:void(0);">$85,600</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Angelica Ramos</a></td>
                                <td><a href="javascript:void(0);">Chief Executive Officer (CEO)</a></td>
                                <td><a href="javascript:void(0);">London</a></td>
                                <td><a href="javascript:void(0);">47</a></td>
                                <td><a href="javascript:void(0);">2009/10/09</a></td>
                                <td><a href="javascript:void(0);">$1,200,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Gavin Joyce</a></td>
                                <td><a href="javascript:void(0);">Developer</a></td>
                                <td><a href="javascript:void(0);">Edinburgh</a></td>
                                <td><a href="javascript:void(0);">42</a></td>
                                <td><a href="javascript:void(0);">2010/12/22</a></td>
                                <td><a href="javascript:void(0);">$92,575</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Jennifer Chang</a></td>
                                <td><a href="javascript:void(0);">Regional Director</a></td>
                                <td><a href="javascript:void(0);">Singapore</a></td>
                                <td><a href="javascript:void(0);">28</a></td>
                                <td><a href="javascript:void(0);">2010/11/14</a></td>
                                <td><a href="javascript:void(0);">$357,650</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Brenden Wagner</a></td>
                                <td><a href="javascript:void(0);">Software Engineer</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">28</a></td>
                                <td><a href="javascript:void(0);">2011/06/07</a></td>
                                <td><a href="javascript:void(0);">$206,850</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Fiona Green</a></td>
                                <td><a href="javascript:void(0);">Chief Operating Officer (COO)</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">48</a></td>
                                <td><a href="javascript:void(0);">2010/03/11</a></td>
                                <td><a href="javascript:void(0);">$850,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Shou Itou</a></td>
                                <td><a href="javascript:void(0);">Regional Marketing</a></td>
                                <td><a href="javascript:void(0);">Tokyo</a></td>
                                <td><a href="javascript:void(0);">20</a></td>
                                <td><a href="javascript:void(0);">2011/08/14</a></td>
                                <td><a href="javascript:void(0);">$163,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Michelle House</a></td>
                                <td><a href="javascript:void(0);">Integration Specialist</a></td>
                                <td><a href="javascript:void(0);">Sidney</a></td>
                                <td><a href="javascript:void(0);">37</a></td>
                                <td><a href="javascript:void(0);">2011/06/02</a></td>
                                <td><a href="javascript:void(0);">$95,400</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Suki Burks</a></td>
                                <td><a href="javascript:void(0);">Developer</a></td>
                                <td><a href="javascript:void(0);">London</a></td>
                                <td><a href="javascript:void(0);">53</a></td>
                                <td><a href="javascript:void(0);">2009/10/22</a></td>
                                <td><a href="javascript:void(0);">$114,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Prescott Bartlett</a></td>
                                <td><a href="javascript:void(0);">Technical Author</a></td>
                                <td><a href="javascript:void(0);">London</a></td>
                                <td><a href="javascript:void(0);">27</a></td>
                                <td><a href="javascript:void(0);">2011/05/07</a></td>
                                <td><a href="javascript:void(0);">$145,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Gavin Cortez</a></td>
                                <td><a href="javascript:void(0);">Team Leader</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">22</a></td>
                                <td><a href="javascript:void(0);">2008/10/26</a></td>
                                <td><a href="javascript:void(0);">$235,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Martena Mccray</a></td>
                                <td><a href="javascript:void(0);">Post-Sales support</a></td>
                                <td><a href="javascript:void(0);">Edinburgh</a></td>
                                <td><a href="javascript:void(0);">46</a></td>
                                <td><a href="javascript:void(0);">2011/03/09</a></td>
                                <td><a href="javascript:void(0);">$324,050</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Unity Butler</a></td>
                                <td><a href="javascript:void(0);">Marketing Designer</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">47</a></td>
                                <td><a href="javascript:void(0);">2009/12/09</a></td>
                                <td><a href="javascript:void(0);">$85,675</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Howard Hatfield</a></td>
                                <td><a href="javascript:void(0);">Office Manager</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">51</a></td>
                                <td><a href="javascript:void(0);">2008/12/16</a></td>
                                <td><a href="javascript:void(0);">$164,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Hope Fuentes</a></td>
                                <td><a href="javascript:void(0);">Secretary</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">41</a></td>
                                <td><a href="javascript:void(0);">2010/02/12</a></td>
                                <td><a href="javascript:void(0);">$109,850</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Vivian Harrell</a></td>
                                <td><a href="javascript:void(0);">Financial Controller</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">62</a></td>
                                <td><a href="javascript:void(0);">2009/02/14</a></td>
                                <td><a href="javascript:void(0);">$452,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Timothy Mooney</a></td>
                                <td><a href="javascript:void(0);">Office Manager</a></td>
                                <td><a href="javascript:void(0);">London</a></td>
                                <td><a href="javascript:void(0);">37</a></td>
                                <td><a href="javascript:void(0);">2008/12/11</a></td>
                                <td><a href="javascript:void(0);">$136,200</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Jackson Bradshaw</a></td>
                                <td><a href="javascript:void(0);">Director</a></td>
                                <td><a href="javascript:void(0);">New York</a></td>
                                <td><a href="javascript:void(0);">65</a></td>
                                <td><a href="javascript:void(0);">2008/09/26</a></td>
                                <td><a href="javascript:void(0);">$645,750</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Olivia Liang</a></td>
                                <td><a href="javascript:void(0);">Support Engineer</a></td>
                                <td><a href="javascript:void(0);">Singapore</a></td>
                                <td><a href="javascript:void(0);">64</a></td>
                                <td><a href="javascript:void(0);">2011/02/03</a></td>
                                <td><a href="javascript:void(0);">$234,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Bruno Nash</a></td>
                                <td><a href="javascript:void(0);">Software Engineer</a></td>
                                <td><a href="javascript:void(0);">London</a></td>
                                <td><a href="javascript:void(0);">38</a></td>
                                <td><a href="javascript:void(0);">2011/05/03</a></td>
                                <td><a href="javascript:void(0);">$163,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Sakura Yamamoto</a></td>
                                <td><a href="javascript:void(0);">Support Engineer</a></td>
                                <td><a href="javascript:void(0);">Tokyo</a></td>
                                <td><a href="javascript:void(0);">37</a></td>
                                <td><a href="javascript:void(0);">2009/08/19</a></td>
                                <td><a href="javascript:void(0);">$139,575</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Thor Walton</a></td>
                                <td><a href="javascript:void(0);">Developer</a></td>
                                <td><a href="javascript:void(0);">New York</a></td>
                                <td><a href="javascript:void(0);">61</a></td>
                                <td><a href="javascript:void(0);">2013/08/11</a></td>
                                <td><a href="javascript:void(0);">$98,540</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Finn Camacho</a></td>
                                <td><a href="javascript:void(0);">Support Engineer</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">47</a></td>
                                <td><a href="javascript:void(0);">2009/07/07</a></td>
                                <td><a href="javascript:void(0);">$87,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Serge Baldwin</a></td>
                                <td><a href="javascript:void(0);">Data Coordinator</a></td>
                                <td><a href="javascript:void(0);">Singapore</a></td>
                                <td><a href="javascript:void(0);">64</a></td>
                                <td><a href="javascript:void(0);">2012/04/09</a></td>
                                <td><a href="javascript:void(0);">$138,575</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Zenaida Frank</a></td>
                                <td><a href="javascript:void(0);">Software Engineer</a></td>
                                <td><a href="javascript:void(0);">New York</a></td>
                                <td><a href="javascript:void(0);">63</a></td>
                                <td><a href="javascript:void(0);">2010/01/04</a></td>
                                <td><a href="javascript:void(0);">$125,250</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Zorita Serrano</a></td>
                                <td><a href="javascript:void(0);">Software Engineer</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">56</a></td>
                                <td><a href="javascript:void(0);">2012/06/01</a></td>
                                <td><a href="javascript:void(0);">$115,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Jennifer Acosta</a></td>
                                <td><a href="javascript:void(0);">Junior Javascript Developer</a></td>
                                <td><a href="javascript:void(0);">Edinburgh</a></td>
                                <td><a href="javascript:void(0);">43</a></td>
                                <td><a href="javascript:void(0);">2013/02/01</a></td>
                                <td><a href="javascript:void(0);">$75,650</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Cara Stevens</a></td>
                                <td><a href="javascript:void(0);">Sales Assistant</a></td>
                                <td><a href="javascript:void(0);">New York</a></td>
                                <td><a href="javascript:void(0);">46</a></td>
                                <td><a href="javascript:void(0);">2011/12/06</a></td>
                                <td><a href="javascript:void(0);">$145,600</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Hermione Butler</a></td>
                                <td><a href="javascript:void(0);">Regional Director</a></td>
                                <td><a href="javascript:void(0);">London</a></td>
                                <td><a href="javascript:void(0);">47</a></td>
                                <td><a href="javascript:void(0);">2011/03/21</a></td>
                                <td><a href="javascript:void(0);">$356,250</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Lael Greer</a></td>
                                <td><a href="javascript:void(0);">Systems Administrator</a></td>
                                <td><a href="javascript:void(0);">London</a></td>
                                <td><a href="javascript:void(0);">21</a></td>
                                <td><a href="javascript:void(0);">2009/02/27</a></td>
                                <td><a href="javascript:void(0);">$103,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Jonas Alexander</a></td>
                                <td><a href="javascript:void(0);">Developer</a></td>
                                <td><a href="javascript:void(0);">San Francisco</a></td>
                                <td><a href="javascript:void(0);">30</a></td>
                                <td><a href="javascript:void(0);">2010/07/14</a></td>
                                <td><a href="javascript:void(0);">$86,500</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Shad Decker</a></td>
                                <td><a href="javascript:void(0);">Regional Director</a></td>
                                <td><a href="javascript:void(0);">Edinburgh</a></td>
                                <td><a href="javascript:void(0);">51</a></td>
                                <td><a href="javascript:void(0);">2008/11/13</a></td>
                                <td><a href="javascript:void(0);">$183,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Michael Bruce</a></td>
                                <td><a href="javascript:void(0);">Javascript Developer</a></td>
                                <td><a href="javascript:void(0);">Singapore</a></td>
                                <td><a href="javascript:void(0);">29</a></td>
                                <td><a href="javascript:void(0);">2011/06/27</a></td>
                                <td><a href="javascript:void(0);">$183,000</a></td>
                            </tr>
                            <tr>
                                <td><a href="javascript:void(0);">Donna Snider</a></td>
                                <td><a href="javascript:void(0);">Customer Support</a></td>
                                <td><a href="javascript:void(0);">New York</a></td>
                                <td><a href="javascript:void(0);">27</a></td>
                                <td><a href="javascript:void(0);">2011/01/25</a></td>
                                <td><a href="javascript:void(0);">$112,000</a></td>
                            </tr>
                        </tbody>-->
                        </table>  
                    </div>					
				</div>
		</div>	
        </div>
                <!--Add Item form -->
        <button class="site-action btn-raised btn btn-success btn-floating" data-target="#CreateTabs"
                data-toggle="modal" type="button">
                <i class="icon glyphicon glyphicon-plus" aria-hidden="true"></i>
                </button>
        <div class="modal fade modal-success" id="CreateTabs" aria-hidden="true" aria-labelledby="exampleModalTabs"
                  role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="CreateModalTabs">New Item</h4>
                        </div>
                        <ul class="nav nav-tabs modal-nav-tabs-line" data-plugin="nav-tabs" role="tablist">
                          <li class="active" style="width:25%; text-align:center;" role="presentation"><a data-toggle="tab" href="#BasicTab" aria-controls="BasicTab"
                            role="tab">Basic</a></li>
                          <li role="presentation" style="width:25%; text-align:center;"><a data-toggle="tab" href="#ImageTab" aria-controls="ImageTab"
                            role="tab">Images</a></li>
                          <li role="presentation" style="width:25%; text-align:center;"><a data-toggle="tab" href="#DetailsTab" aria-controls="DetailsTab"
                            role="tab">Advanced</a></li>
                          <li role="presentation" style="width:25%; text-align:center;"><a data-toggle="tab" href="#AdditionalTab" aria-controls="AdditionalTab"
                            role="tab">Additional</a></li>
                        </ul>
                        <div class="modal-body">
                          <div class="tab-content padding-top-10">
                            <div class="tab-pane active" id="BasicTab" role="tabpanel">                              
                                <div class="row">
                            <div class="col-lg-4 form-group">
                              <input type="text" class="form-control" name="firstName" placeholder="First Name">
                            </div>
                            <div class="col-lg-4 form-group">
                              <input type="email" class="form-control" name="lastName" placeholder="Last Name">
                            </div>
                            <div class="col-lg-4 form-group">
                              <input type="email" class="form-control" name="email" placeholder="Your Email">
                            </div>
                            <div class="col-lg-12 form-group">
                              <textarea class="form-control" rows="5" placeholder="Type your message"></textarea>
                            </div>
                            @*<div class="col-sm-12 pull-right">
                              <button class="btn btn-primary btn-outline" data-dismiss="modal" type="button">Add Comment</button>
                            </div>*@
                          </div>
                            </div>

                            <div class="tab-pane" id="ImageTab" role="tabpanel">
                              Tenuit omni magistra quale honoris, maluisti invidi, successerit feramus fere omnium
                              impetum locus suscipiantur ullum, gessisse afranius
                              stabilique repellendus longinquitate sentiamus torquatos
                              rem. Bene continens, depulsa soluta domesticarum
                              inscientia excruciant artes epicuri, huic similique
                              constringendos probo animadversionis claris sententia
                              atqui vocent constituit, epicuri hosti iniuste naturales
                              multos, optimus animadvertat stoicis nullae, fieri
                              futura tempore philosophia expleantur putarent doloris
                              delectus viris.
                            </div>

                            <div class="tab-pane" id="DetailsTab" role="tabpanel">
                              Cernimus nutu. Maioribus solet. Iustitiam conciliant reliquisti instituendarum
                              solido quicquid, superstitione placet illis privatione
                              clariora audeam repellat morbos accusantibus, quaeso
                              copulationes. Percurri salutatus derigatur praeter
                              involuta canes afflueret iam amotio quin. Dicent
                              dialectica evertunt astris venire senserit. Vulgo
                              supplicii amputata ipsarum ennius insolens meminerunt
                              quisquam, volumus occulte l videor contenta numen,
                              patrioque. Dixerit cernimus consequentium definitiones
                              interrogari, maximo, avocent opes.
                            </div>

                            <div class="tab-pane" id="AdditionalTab" role="tabpanel">
                              Nec iste vellem, accusamus inesse exhorrescere tertium dominationis licebit perpetiuntur,
                              adduci concederetur memoriter omnesque aliquem etsi
                              salutatus administrari aliquid graviter, mandamus
                              celeritas patet fortibus. Dolorum tantis nostram
                              fortitudo probarentur utrumvis insipientiam, putent,
                              esset p fortitudo repetitis concursionibus interiret
                              clariora. Fabulae aperiri. Omnes aspernari placuit
                              detraxit familias aeternum eum mediocritatem, videantur
                              partis nondum indoctis, emancipaverat probatum intus
                              iactant petulantes, levitatibus copiosae.
                            </div>
                          </div>
                        </div>                                                  
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-success">Create</button>
                          
                        @*<button type="button" class="btn btn-primary btn-addon m-b-sm btn-rounded btn-md"><i class="fa fa-close"></i>Cancel</button>
                        <button type="button" class="btn btn-success btn-addon m-b-sm btn-rounded btn-md"><i class="fa fa-plus"></i>Create</button>*@
                        </div>
                      </div>
                    </div>
                  </div>
    </div>
</div>
  
@*<script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#itemsTable").dataTable().yadcf([
                { bSortable: false },
			    { column_number: 1, filter_type: 'text' },
			    { column_number: 2, filter_type: 'text' },
			    { column_number: 3},
            ]);

            // Replace checkboxes when they appear
            var $state = $("#itemsTable thead input[type='checkbox']");

            $("#itemsTable").on('draw.dt', function () {
                cbr_replace();

                $state.trigger('change');
            });

            // Script to select all checkboxes
            $state.on('change', function (ev) {
                var $chcks = $("#itemsTable tbody input[type='checkbox']");

                if ($state.is(':checked')) {
                    $chcks.prop('checked', true).trigger('change');
                }
                else {
                    $chcks.prop('checked', false).trigger('change');
                }
            });
        });

    </script>*@
